<div class="" style="background-color: #946464">
  <div class="container " style="padding: 50px 10px;">
    <!-- image and contact header section -->
    <!-- <div class="row  pb-2">
      <div class="col-12 col-md-6">
        <img src="../images/logo.svg" class="footer_img" alt="footer image" />
      </div>

      <div class="col-12   col-md-6 text-md-end pt-2 ps-4 ps-md-0 pt-md-0 align-self-center">
        <div class="row position-relative   justify-content-md-end " style="color: white; ">

          <p class="textSize  col-5 col-sm-3 col-md-6" style="font-style: italic ; padding: 0px;">
            Get Social With Us
          </p>
          <p class="textSize col-1 footer_icon_width" style="font-style: italic ;  padding: 0px ; ">
            <i class="bi bi-facebook"></i>
          </p>
          <p class="textSize col-1 footer_icon_width" style="font-style: italic; padding: 0px; ">
            <i class="bi bi-instagram"></i>
          </p>
          <p class="textSize col-1 footer_icon_width" style="font-style: italic; padding: 0px; ">
            <i class="bi bi-twitter"></i>
          </p>
          <p class="textSize col-1 footer_icon_width" style="font-style: italic ; padding: 0px; ">
            <i class="bi bi-pinterest"></i>
          </p>


          <div class="border footer_underline  position-absolute " style=" width: 230px;"></div>

        </div>
      </div>
    </div> -->

    <div class="row  pb-2">
      <div class="col-12 col-md-7 col-lg-8 text-center text-md-start">
        <img src="../images/logo.svg" class="footer_img " alt="footer image" />
      </div>

      <div class="col-12  col-md-6  col-lg-4 align-self-center">
        <div class="d-flex justify-content-center justify-content-md-start justify-content-lg-end border border-top-0 border-start-0 border-end-0 pt-2" style="color: white; ">

          <p class="textSize  " style="font-style: italic ; padding: 0px; margin-right: 10px;">
            Get Social With Us
          </p>
          <p class="textSize col-1 footer_icon_width" style="font-style: italic ;  padding: 0px ; ">
            <i class="bi bi-facebook"></i>
          </p>
          <p class="textSize col-1 footer_icon_width" style="font-style: italic; padding: 0px; ">
            <i class="bi bi-instagram"></i>
          </p>
          <p class="textSize col-1 footer_icon_width" style="font-style: italic; padding: 0px; ">
            <i class="bi bi-twitter"></i>
          </p>
          <p class="textSize col-1 footer_icon_width" style="font-style: italic ; padding: 0px; ">
            <i class="bi bi-pinterest"></i>
          </p>

        </div>
      </div>
    </div>
    <!-- image and contact header section ends here -->


    <!-- paragraph section  -->
    <div class="row">


      <p class=" col-12 col-md-6  py-2 " style="margin: 0px; font-size: 14px; color: white;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus totam, aperiam in cumque quam quae ullam
        iusto impedit recusandae suscipit et, minima doloremque molestiae voluptatem vel ea repellendus. Non ab
        reiciendis harum porro deserunt.
      </p>
      <p class=" ">

      </p>
    </div>
    <!-- paragraph section  end-->



    <!-- search bar section  and navigation section-->

    <div class="row pb-3 pe-0">
      <!-- //list sections -->
      <div class="col-12 col-lg-6 py-2 ">
        <div class="row">
          <div class="col-6 text-start">
            <p style="font-size: 19px; margin-bottom: 8px; color: white; font: bold;">Quick Help</p>
            <ul class="list-group" style="list-style-type:none;">
              <li class="">
                <a class="text-decoration-none textSize " style="color: white; " aria-current="page" href="#">Search</a>
              </li>
              <li class="">
                <a class="text-decoration-none textSize" style="color: white;" aria-current="page" href="#">Contact
                  Us</a>
              </li>
              <li class="">
                <a class="text-decoration-none textSize" style="color: white; " aria-current="page" href="#">My
                  Account</a>
              </li>
              <li class="">
                <a class="text-decoration-none textSize" style="color: white; " aria-current="page"
                  href="#">Shipping</a>
              </li>
              <li class="">
                <a class="text-decoration-none textSize" style="color: white;" aria-current="page" href="#">Order
                  Tracking</a>
              </li>
              <li class="">
                <a class="text-decoration-none textSize" style="color: white;" aria-current="page" href="#">Refunding &
                  Return </a>
              </li>
              <li class="">
                <a class="text-decoration-none textSize" style="color: white;" aria-current="page" href="#">Terms &
                  Services</a>
              </li>
            </ul>
          </div>
          <div class="col-6 text-start">
            <p style="font-size: 19px; margin-bottom: 8px; color: white; font: bold;">Get To Know Us</p>
            <ul class="list-group" style="list-style-type:none;">
              <li class="">
                <a class="text-decoration-none textSize " style="color: white;" aria-current="page" href="#">New
                  Arrival</a>
              </li>
              <li class="">
                <a class="text-decoration-none textSize" style="color: white;" aria-current="page" href="#">Eyes</a>
              </li>
              <li class="">
                <a class="text-decoration-none textSize" style="color: white;" aria-current="page" href="#">Lips</a>
              </li>
              <li class="">
                <a class="text-decoration-none textSize" style="color: white;" aria-current="page" href="#">Combos
                  Offers</a>
              </li>
              <li class="">
                <a class="text-decoration-none textSize" style="color: white;" aria-current="page"
                  href="#">Blogs/Tutorials</a>
              </li>
              <li class="">
                <a class="text-decoration-none textSize" style="color: white;" aria-current="page" href="#">About Me</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- //search bar sections -->
      <div class="col-12 col-lg-6  py-2">
        <div class="row  justify-content-lg-end py-1   ">
          <div class="col-10">
            <div class="col">
              <p class="fs-3 " style="color: white; margin-bottom: 0px;">Sign up for our Newsletter!</p>
              <p class="fs-6 " style="color: white; margin-top: 3px;">Enter your email below to be the first to know
                about new collections and product launches</p>
            </div>
            <form class="d-flex pb-3" role="search">
              <input class="w-100 w-md-50 rounded-bottom-left-1s border-0 px-1 py-2" type="search"
                placeholder="Enter your email address" aria-label="Search" style="text-align:center;">
              <button class="px-lg-5 px-2 py-md-3 py-2 btn-outline-success rounded-top-right-1s  border-0 "
                style="background-color: #613B3B; color: white;" type="submit">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- search bar ends here -->
    <div class="d-flex flex-wrap  justify-content-between border border-start-0 border-end-0 border-bottom-0 "
      style="color: white;">
      <div class=" py-1 py-lg-4">
        @ 2020 Joon Beauty All Right Reserved Designed by Ideamagix
      </div>
      <div class="py-1 py-lg-4">
        Made in India
      </div>
      <div class=" py-1 py-lg-4">
        @ 2020 Joon Beauty All Right Reserved Designed by Ideamagix
      </div>
    </div>
    <!-- copy right part here -->

  </div>
</div>
</div>