<nav class=" " >
    <div class=" w-100 gradient-background text-center  notice" style="">
        Free Shipping / Free Product After shopping for Rs1100
      </div> 
      
      <div class="d-none d-xl-block ">

        <div class="row w-100 align-items-center justify-content-end text-center border-bottom py-2">
           
          <div class="col  text-end">
            <div class="row justify-content-end">
              <img src="../images/logo.svg" class="" alt="" style="width: 55%;"/>
            </div>
                 
          </div>
         
            <div class="col-5   align-self-center" ><div>
                <form class="d-flex justify-content-center" role="search">
                    <input
                      class="border   me-2 position-relative border-end-1 rounded-pill rounded-end-0 py-2 px-lg-2 "
                      type=""
                      placeholder="What are you looking for?"
                      aria-label="Search"
                      style="width: 65%; outline: none; color: #CAC7C7; border: #CAC7C7"
                    />
                    <div
                      class="position-sticky row align-items-center justify-content-center border  rounded-pill rounded-start-0 border-start-0"
                      type="" style="border: #CAC7C7"
                    >
                      <div><i class="bi bi-search" style="color: #CAC7C7"></i></div>
                    </div>
                  </form>
            </div></div>
            <div class="col  py-4 align-self-center">
                <div class="row justify-content-start py-2 align-content-between g-5">
                  <div class="col-1 align-self-center" style="margin-left: 6px;"><i class="bi bi-person" style="font-size: 29px; color:#CAC7C7;"></i></div>
                  <div class="col-1 align-self-center position-relative " style="margin-left: 6px;"><i class="bi bi-bag" style="font-size: 25px; color:#CAC7C7;"></i> 
                  <div class="position-absolute  rounded-circle" style="font-size: 9px; top:5px ; left: 40px; padding: 0px 4px; background: #95CFFF; color: white;">5</div>
                  </div>
                  <div class="col-1 align-self-center " style="margin-left: 6px;"><i class="bi bi-heart" style="font-size: 25px; color:#CAC7C7;"></i></div>
            </div>
        </div>
         </div>
     

      <div class="menu ">
        <ul class="nav justify-content-center  py-4" style="gap: 10px;">
            <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"

                >
                  New Arrival
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Lips</a></li>
                  <li><a class="dropdown-item" href="#">Combo</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Eyes
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Lips</a></li>
                  <li><a class="dropdown-item" href="#">Combo</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lips</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Combos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" >Offers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" >Blogs/Tutorials</a>
              </li>
          </ul>
      </div>

    </div>

<!-- //mobile  nav -->
 <div class="navbar border-bottom border-gray d-lg-block d-xl-none p-0">
  <div class="container-fluid py-1 ">
    <img src="../images/logo.svg" class="w-25" alt="" />
    <div class="row">

        <div class="row justify-content-end py-2 ">
            <div class="col-2 align-self-center"><i class="bi bi-person" style="font-size: 18px;  color:#CAC7C7; margin-left: 3px;"></i></i></i></div>
            <div class="col-2 align-self-center position-relative"><i class="bi bi-bag"  style="font-size: 15px;  color:#CAC7C7; margin-left: 3px">
              <div class="position-absolute   rounded-circle  text-center " style="font-size: 5px ; padding: 2px 4px; background: #95CFFF; left: 22px; top: 2px ; color: white;">5</div>
            </i></div>
            <div class="col-2 align-self-center"><i class="bi bi-heart" style="font-size: 15px;  color:#CAC7C7; margin-left: 3px;"></i></div>
            <button
            class="navbar-toggler border-0 col-2 ms-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
            style="outline: none; box-shadow: none ; font-size: 15px;  color:#CAC7C7;"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          </div>

    </div>
  
   
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <img src="../images/logo.svg" class="" style="width: 30%" alt="" />
        <!-- <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5> -->
        
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
       
      </div>
      
     
      <div class="offcanvas-body">
        
        <form class="d-flex " role="search">
          <input
            class="border border-grey me-2 position-relative border-end-1 rounded-pill rounded-end-0 py-1 px-2 border-gray "
            type=""
            placeholder="Search"
            aria-label="Search"
            style="width: 50%; outline: none"
          />
          <div
            class="position-sticky row align-items-center justify-content-center border border-grey rounded-pill rounded-start-0 border-start-0"
            type=""
          >
            <div><i class="bi bi-search" style="color: grey"></i></div>
          </div>
        </form>
       
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-2 px-2">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              New Arrival
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Eyes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Lips</a></li>
              <li><a class="dropdown-item" href="#">Combo</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Lips</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Combo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blogs/Tutorials</a>
          </li>
        </ul>
       
      </div>
      
    </div>
  </div>
</div>
<!-- //mobile nav ends -->
</nav>


